<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Flask IGDB API{% endblock %}</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{ url_for('index') }}" class="brand-logo">Logo</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul>
					<li><a href="{{ url_for('routes.index') }}">Home</a></li>
					{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('routes.logout') }}">Logout</a></li>
					{% else %}
					<li><a href="{{ url_for('roulogin') }}">Login</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<ul class="sidenav" id="mobile-demo">
			<li><a href="sass.html">Sass</a></li>
			<li><a href="badges.html">Components</a></li>
			<li><a href="collapsible.html">Javascript</a></li>
			<li><a href="mobile.html">Mobile</a></li>
		</ul>
	</header>
	<main>
		<form action="/get_games" method="get" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="game_name" name="game_name" class="validate autocomplete">
					<label for="game_name">Game Name</label>
				</div>
				<div class="input-field col s6">
					<button type="submit" class="btn waves-effect waves-light">SEARCH</button>
				</div>
			</div>
		</form>
		{% block content %}{% endblock %}
	</main>
	<footer>
		<p>&copy; 2024 Flask IGDB API Integration</p>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>