<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags for character set and viewport settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Game Central Collection - Video Games Database">
	<title>{% block title %}Game Central Collection{% endblock %}</title>
	<meta name="csrf-token" content="{{ csrf_token() }}">
	
	<!-- Favicon -->
	<link rel="icon" href="../static/logo/favicon.png" type="image/png">
	
	<!-- Google Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!-- Materialize CSS Framework -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<header>
		<!-- Navigation bar -->
		<nav>
			<div class="nav-wrapper">
				<!-- Logo and brand link -->
				<a href="{{ url_for('routes.index') }}" class="brand-logo left">
					<img src="../static/logo/logo.webp" alt="logo">
				</a>
				
				<!-- Navigation links for larger screens -->
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{ url_for('routes.index') }}">Home</a></li>
					{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('routes.logout') }}">Logout</a></li>
					<li>
						<a class="avatar-img" href="{{ url_for('routes.profile') }}">
							<div class="nav-profile-picture">
								{% if current_user.profile and current_user.profile.avatar_url and current_user.profile.avatar_url.strip() %}
								<img src="{{ url_for('static', filename=current_user.profile.avatar_url) }}" alt="Profile Picture" class="responsive-img">
								{% else %}
								<img src="{{ url_for('static', filename='profile_pics/default-avatar.png') }}" alt="Default Profile Picture" class="responsive-img">
								{% endif %}
							</div>
						</a>
					</li>
					{% else %}
					<li><a href="{{ url_for('routes.login') }}">Login</a></li>
					<li><a href="{{ url_for('routes.register') }}">Register</a></li>
					{% endif %}
				</ul>
				
				<!-- Side navigation trigger for smaller screens -->
				<a href="#" data-target="mobile-demo" class="sidenav-trigger right">
					<i class="material-icons">menu</i>
				</a>
			</div>
		</nav>

		<!-- Side navigation for smaller screens -->
		<ul class="sidenav right-aligned" id="mobile-demo">
			<li><a href="{{ url_for('routes.index') }}">Home</a></li>
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('routes.profile') }}">Profile</a></li>
			<li><a href="{{ url_for('routes.logout') }}">Logout</a></li>
			{% else %}
			<li><a href="{{ url_for('routes.login') }}">Login</a></li>
			<li><a href="{{ url_for('routes.register') }}">Register</a></li>
			{% endif %}
		</ul>
	</header>

	<main>
		<!-- Flash Messages -->
		<div id="flash-messages" class="flash-messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			<div class="flash-message {{ category }}">
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
			{% endwith %}
		</div>

		<!-- Game Search Form -->
		<form action="/get_games" method="get" class="col s12">
			<div class="row">
				<div class="input-field col s6  offset-m2 offset-s2">
					<input type="text" id="game_name" name="game_name" class="validate autocomplete">
					<label for="game_name">Game Name</label>
				</div>
				<div class="input-field col s3">
					<button type="submit" style="background-color: #2C6169;" class="btn waves-effect waves-light">
						<i class="material-icons center-align">search</i>
					</button>
				</div>
			</div>
		</form>

		<!-- Placeholder for dynamic content -->
		{% block content %}{% endblock %}
	</main>

	<!-- Footer -->
	<footer>
		<p>&copy;2024 Jakub Parafian</p>
	</footer>

	<!-- Materialize JS Framework -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
	<!-- Custom JS -->
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
