{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'Your Profile' if user.id == current_user.id else user.username ~ "'s Profile" }}</h2>

    <div class="row">
        <div class="col s12 m6">
            <div class="input-field">

                <p id="username-display">{{ user.username }}</p>
                {% if user.id == current_user.id %}
                <button class="btn-small waves-effect waves-light edit-username-btn"
                    data-user-id="{{ user.id }}">Edit</button>
                {% endif %}
            </div>

            <!-- Edit Username Form -->
            {% if user.id == current_user.id %}
            <div id="edit-username-form" style="display:none;">
                <form method="POST" action="{{ url_for('routes.update_username', user_id=user.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="input-field">
                        <input type="text" name="username" id="username-input" value="{{ user.username }}"
                            class="validate">
                        <label for="username-input">New Username</label>
                    </div>
                    <button type="submit" class="btn green">Save</button>
                    <button type="button" class="btn grey cancel-edit-username-btn">Cancel</button>
                </form>
            </div>
            {% endif %}
            <div class="input-field">
                {% if user.id == current_user.id %}
                <label for="email">Email</label>
                <input type="email" id="email" value="{{ user.email }}" disabled>
                {% endif %}
            </div>
            <div class="input-field">
                <label for="favorite">Number of Favorites</label>
                <input type="text" id="favorite" value="{{ num_favorites }}" disabled>
            </div>
            <div class="input-field">
                <label for="comment">Number of Comments</label>
                <input type="text" id="comment" value="{{ num_comments }}" class="custom-input" disabled>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="profile-picture">
                {% if user.profile and user.profile.avatar_url %}
                <img src="{{ url_for('static', filename=user.profile.avatar_url) }}" alt="Profile Picture"
                    class="responsive-img">
                {% else %}
                <img src="{{ url_for('static', filename='profile_pics/default-avatar.png') }}"
                    alt="Default Profile Picture" class="responsive-img">
                {% endif %}
                {% if user.id == current_user.id %}
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger profile-picture-btn"
                    href="#avatarModal">
                    <i class="material-icons">edit</i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if user.id == current_user.id %}
    <form method="POST" action="{{ url_for('routes.profile', user_id=user.id) }}">
        {{ form.hidden_tag() }}
        <input type="hidden" id="selected_avatar" name="selected_avatar">
        <button type="submit" class="btn" style="margin-bottom: 20px;">Update Profile</button>
    </form>
    <!-- Button to delete account -->
    <form method="POST" action="{{ url_for('routes.delete_account', user_id=user.id) }}"
        onsubmit="return confirm('Are you sure you want to delete your account?');">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn red">Delete Account</button>
    </form>

    <!-- Modal Structure -->
    <div id="avatarModal" class="modal">
        <div class="modal-content">
            <h4>Select an Avatar</h4>
            <div class="row">
                {% for avatar in avatars %}
                <div class="col s3">
                    <img src="{{ url_for('static', filename='profile_pics/' ~ avatar) }}" alt="Avatar"
                        class="responsive-img avatar-option" data-avatar="{{ avatar }}">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>



    {% endif %}

    <div class="row">
        <div class="col s12">
            <h5>{{ 'Your Favorite Games' if user.id == current_user.id else user.username ~ "'s Favorite Games" }}</h5>
            <div class="carousel">
                {% for game in favorite_games %}
                <a class="carousel-item" href="{{ url_for('routes.game_details', game_id=game.id) }}"><img
                        src="{{ game.cover_url }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editBtn = document.querySelector('.edit-username-btn');
        const editForm = document.getElementById('edit-username-form');
        const usernameDisplay = document.getElementById('username-display');
        const cancelBtn = document.querySelector('.cancel-edit-username-btn');

        editBtn.addEventListener('click', function () {
            usernameDisplay.style.display = 'none';
            editBtn.style.display = 'none';
            editForm.style.display = 'block';
        });

        cancelBtn.addEventListener('click', function () {
            usernameDisplay.style.display = 'block';
            editBtn.style.display = 'inline-block';
            editForm.style.display = 'none';
        });
    });
</script>

{% endblock %}