{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
	<h2>Your Profile</h2>

	<div class="row">
		<div class="col s12 m6">
			<div class="input-field">
				<label for="username">
					<p>Username</p>
				</label>
				<input type="text" id="username" value="{{ user.username }}" disabled>
			</div>
			<div class="input-field">
				<label for="email">Email</label>
				<input type="email" id="email" value="{{ user.email }}" disabled>
			</div>
			<div class="input-field">
				<label for="favorite">Number of Favorites</label>
				<input type="text" id="favorite" value="{{ num_favorites }}" disabled>
			</div>
			<div class="input-field">
				<label for="comment">Number of Comments</label>
				<input type="text" id="comment" value="{{ num_comments }}" class="custom-input" disabled>
			</div>
			<form method="POST" action="{{ url_for('routes.profile') }}">
				{{ form.hidden_tag() }}
				<input type="hidden" id="selected_avatar" name="selected_avatar">
				<button type="submit" class="btn">Update Profile</button>
			</form>
		</div>
		<div class="col s12 m6">
			<div class="profile-picture">
				<a class="btn-floating btn-large waves-effect waves-light red modal-trigger profile-picture-btn"
					href="#avatarModal">
					<i class="material-icons">add</i>
				</a>
				{% if current_user.profile and current_user.profile.avatar_url %}
				<img src="{{ url_for('static', filename=current_user.profile.avatar_url) }}" alt="Profile Picture"
					class="responsive-img">
				{% else %}
				<img src="{{ url_for('static', filename='profile_pics/default-avatar.png') }}"
					alt="Default Profile Picture" class="responsive-img">
				{% endif %}
			</div>
		</div>
	</div>

	
    <!-- Sekcja ulubionych gier -->
    <div class="row">
        <div class="col s12">
            <h4>Favorite Games</h4>
            {% if favorite_games %}
            <div class="carousel">
                {% for game in favorite_games %}
                <a class="carousel-item" href="#{{ game.id }}">
                    {% if game.cover_url %}
                    <img src="{{ game.cover_url }}" alt="{{ game.name }}" class="responsive-img">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/cover-placeholder.webp') }}" alt="{{ game.name }}" class="responsive-img">
                    {% endif %}
                    <span class="carousel-caption">{{ game.name }}</span>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p>You have no favorite games yet.</p>
            {% endif %}
        </div>
    </div>


	<!-- Modal Structure -->
	<div id="avatarModal" class="modal">
		<div class="modal-content">
			<h4>Select an Avatar</h4>
			<div class="row">
				{% for avatar in avatars %}
				<div class="col s3">
					<img src="{{ url_for('static', filename='profile_pics/' ~ avatar) }}" alt="Avatar"
						class="responsive-img avatar-option" data-avatar="{{ avatar }}">
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
</div>

{% endblock %}