.fixed-size {
	height: 500px;
	/* Ustalona wysokość karty */
	display: flex;
	flex-direction: column;
}

.card-content {
	flex-grow: 1;
	overflow: hidden;
}



/* Dodane style dla obrazów */
.card-image img {
	object-fit: contain;
	height: 100%;
}

.fixed-size {
    height: 500px; /* Ustalona wysokość karty */
    display: flex;
}