/* Global css rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
	max-width: 1280px;
	margin-inline: auto;
	height: 100dvh;
	display: flex;
	flex-direction: column;

}

:root {
    --primary-color: #ff6f61;
    --secondary-color: #4caf50;
    --background-color: #f4f4f9;
    --text-color: #333;
    --header-font: 'Helvetica Neue', sans-serif;
    --body-font: 'Arial', sans-serif;
    --max-width: 1200px;
    --padding: 20px;
    --margin: 20px;
    --border-radius: 8px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    padding: var(--padding);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-family: var(--header-font);
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    display: block;
    margin-bottom: 1rem;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}



main {
	flex: 1 0 0;
}

h1,h2,h3 {
	margin: 0;
}


.fixed-size {
	height: 500px;
	/* Ustalona wysokość karty */
	display: flex;
	flex-direction: column;
	position: relative; /* Dodane dla lepszego zarządzania pozycjonowaniem */
    overflow: hidden; /* Ukryj elementy wychodzące poza kartę */
}

.card-content {
	flex-grow: 1;
	overflow: hidden;
}



/* Dodane style dla obrazów */
.card-image img {
	object-fit: contain;
	height: 100%;
}

.screenshot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Odstęp między elementami */
}

.screenshot-item {
    flex: 1 1 calc(33.333% - 10px); /* 33.333% szerokości minus odstęp */
    box-sizing: border-box;
}

.screenshot-item img {
    width: 100%;
    height: auto;
}


/* Game Details */
.carousel .carousel-item img {
    width: 100%; /* Szerokość obrazka na pełną szerokość elementu karuzeli */
    height: auto; /* Zachowanie proporcji obrazka */
    max-height: 300px; /* Maksymalna wysokość obrazka */
    object-fit: cover; /* Przycięcie obrazka, aby wypełnić element karuzeli */
}

.carousel {
    height: 300px; /* Ustawienie wysokości karuzeli */
}