/* Global css rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

body {
	max-width: 1280px;
	margin-inline: auto;
	height: 100dvh;
	display: flex;
	flex-direction: column;

}

:root {
    --primary-color: #F1DCBC;
    --secondary-color: #2C6169;
    --background-color: #19242F;
    --text-color: white;
    --header-font: 'Helvetica Neue', sans-serif;
    --body-font: 'Arial', sans-serif;
    --max-width: 1200px;
    --padding: 20px;
    --margin: 20px;
    --border-radius: 8px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color) !important;
    font-family: var(--body-font);
    
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6, span,a {
    margin-bottom: 1rem;
    font-family: var(--header-font);
    color: var(--text-color);
}
input[id], input#email,input#username, input#favorite, input#comment.custom-input {
    color: white;
}
p {
    margin-bottom: 1rem;
    color: var(--text-color);
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}
nav {
    background-color: var(--secondary-color);
}


main {
	flex: 1 0 0;
}

h1,h2,h3 {
	margin: 0;
}


.fixed-size {
	height: 500px;
	/* Ustalona wysokość karty */
	display: flex;
	flex-direction: column;
	position: relative; /* Dodane dla lepszego zarządzania pozycjonowaniem */
    overflow: hidden; /* Ukryj elementy wychodzące poza kartę */
}
.card {
	border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

.card-content {
	flex-grow: 1;
	overflow: hidden;
}



/* Dodane style dla obrazów */
.card-image img {
	object-fit: contain;
	height: 100%;
}

.screenshot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Odstęp między elementami */
}

.screenshot-item {
    flex: 1 1 calc(33.333% - 10px); /* 33.333% szerokości minus odstęp */
    box-sizing: border-box;
}

.screenshot-item img {
    width: 100%;
    height: auto;
}


/* Game Details */

.carousel {
	max-height: 300px;
}

.carousel .carousel-item>img {
    min-width: 220%;
	margin-left: -50%;
}

/* navbar */
.nav-wrapper{
    height: 65px;
}
.brand-logo img {
    height: 65px;
}
/* Avatar */


.nav-profile-picture {
    max-width: 65px;/* Maksymalna szerokość kontenera na obrazek w nawigacji */
    display: flex !important;
    align-items: center !important; /* Wyrównanie w pionie */
    justify-items: center !important; /* Wyrównanie w poziomie */
   
}

.nav-profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Zaokrąglenie rogów obrazka */
}

/* Profile */

.profile-picture {
    position: relative;
    display: inline-block; /* Make sure the container fits the image */
}

.profile-picture-btn {
    position: absolute;
    top: 10px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
    z-index: 10; /* Ensure it appears above the image */
}

/* Game Cards in games.html" */


.game-card {
    position: relative;
    display:block;
}

.game-card-btn {
    position: absolute;
    top: 20px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
    z-index: 10; /* Ensure it appears above the image */   
}

.card-content {
    display: flex !important;
    justify-content:center !important;
    align-items:flex-start !important;
}