{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<form action="/get_games" method="get">
	<label for="game_name">Game Name:</label>
	<input type="text" id="game_name" name="game_name">
	<button type="submit">Get Game Info</button>
</form>

<h2 class="center-align">Popular Games</h2>
<div class="carousel">
	{% for game in popular_games %}
	<a class="carousel-item" href="#{{ game.id }}">
		{% if game.cover %}
		<img src="{{ game.cover.url }}" alt="{{ game.name }}">
		{% endif %}
		<span class="carousel-caption">{{ game.name }}</span>
	</a>
	{% endfor %}
</div>

{% endblock %}